<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>🍂Little Post</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<div class="wrapper">
    <div class="top">
        <div class="title"><h1>Little Story</h1></div>
           </div>
        <div class="content">
            <div class="card">
                <h1>{{POST["title"]}}</h1>
                <h2>{{POST["subtitle"]}}</h2>
                <p>{{POST["body"]}}</p>
            </div>
        </div>
</div>
</body>
<footer>
    <p>Made with  ❤ by Keerthi.</p>
</footer>
</html>